header{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    display: inline-flex;
    overflow: hidden;
    background: #cdcdcd20;
    left: 0;
}

div{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cdcdcd20;
    display: block;
    overflow: hidden;
    margin: auto;
}

img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    display: inline-flex;
    overflow: hidden;
    background: #cdcdcd20;
    left: 0;
}

h1{
   font-size: 20px;
   margin: auto; 
}

h2{
  font-size: 18px;
   margin: auto;   
}


h3{
  font-size: 16px;
   margin: auto;   
}

h4{
  font-size: 14px;
   margin: auto;   
}

h5{
  font-size: 12px;
   margin: auto;   
}

h6{
  font-size: 18px;
   margin: auto;   
}

p{
    position: relative;
    margin: auto;
    font-size: 16px;
}

input{
    position: relative;
    margin: auto;
    width: 98%;
    background: transparent;
    color: #ffffff;
    height: 32px;
    border: none;
    outline: none;
    margin: auto;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    left: 0;
    border: none;
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
}

audio {
    position: relative;
    width: 100%;
    height: 60px;
    background: white;
    border: none;
    outline: none;
    display: block;
}

/* Target the internal controls panel */
audio::-webkit-media-controls-panel {
    background-color: white !important; /* Change this to your desired background */
    border-radius: 0px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    border: none;
}

/* Optional: tweak control buttons if needed */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline {
    background-color: transparent !important;
}
