p{
    text-align: center;
}

input{
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 60%;
    margin: 0.5% auto;
}

textarea{
    width: 60%;
    border-radius: 10px;
}

button{
    width: 60%;
    background: forestgreen;
    border: none;
}