.LeftIcon{
    position: absolute;
    left: 0;
    width: 10%;
    padding: 1%;
}

.HomeHolder{
    background: transparent;
    overflow-y: auto;
    top: 50px;
}

#SearchInput{
    position: absolute;
    width: 85%;
    right: 1%;
}

.AppImagesDiv{
    position: relative;
    width: 32%;
    height: 30%;
    background: #cdcdcd10;
    display: inline-table;
    margin: auto;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 1%;
    margin-bottom: 1%;
}

.HolderDisplay{
    width: 80%;
    height: 80%;
    object-fit: contain;
    top: 10px;
}

.Name{
    bottom: 10%;
    font-size: 50%;
    word-wrap: break-word;
    left: 2%;
}