.AppName{
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.LoginButton{
    background: forestgreen;
    color: #ffffff;
}

.CreateButton{
    background: teal;
    color: #ffffff;
}

.AppLogo{
    width: 95%;
    height: 35%;
    margin-top: 2%;
    border-radius: 10px;
}

.ContentHolder{
    position: relative;
    background: transparent;
    overflow-y: auto;
    height: auto;
}

#CenterIcon{
    margin-top: 45%;
    margin-bottom: 35%;
}

.PostImage{
    width: 95%;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.PostsFooter{
    background: #000000;
}