.Logo{
    width: 90%;
    height: 50%;
    margin-top: 2%;
    border-radius: 10px;
}

.BriefIntro{
    text-align: left;
    padding: 2%;
    font-size: 18px;
}

.ProjectDIv{
    position: relative;
    width: 90%;
    height: auto;
    min-height: 300px;
}