.Logo{
    width: 95%;
    height: 40%;
    margin: 2%;
    border-radius: 10px;
}

#ParthnerHolder{
    background: transparent;
    width: 95%;
    height: 200px;
    border-radius: 5px;
    overflow-x: auto;
}

.InineView{
    background: green;
    flex-shrink: 0;
    border-radius: 5px;
    margin: auto 2%;
}

.AppName{
    font-size: 25px;
}

footer{
    background: #000000;
}