.Lefttext{
    text-align: left;
    margin-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: blue;
}

.AppLogoImage{
    width: 30%; 
    margin: auto;
    margin-top: 3rem;
    border-radius: 100%;
    text-align: center;
}

#LoginButton{
    border-radius: 50px;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
}

.Inputed{
    border: 1px solid #cdcdcd20;
    border-radius: 10px; 
    padding: 1%; left: 0.8%; 
    border: 1px solid #cdcdcd50;
    width: 90%;
    height: 70px;
    color: black;
}

#TopOne{
    margin-top: 5rem;
}

#Name{
    display: none;
}

.HomeDiv{
    background-color: transparent;
    top: 52px;
    overflow-y: auto;
}

#Error{
    top: 8%;
    margin-bottom: 0;
    margin-top: 0;
}

.HomeButton{
    color: black;
    box-shadow: 0px 0px 100px 1px  #00000020;
    height: 100px;
    display: inline-flex;
    left: 0;
}

.Titles{
    margin-right: 2rem;
    margin-left: auto;
    color: indigo;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.HomeButtonImageHolder{
    position: relative;
    width: 50px;
    border-radius: 50px;
    height: 50px;
    background: indigo;
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
}

.FloatButton{
    position: fixed;
    background: indigo;
    bottom: 10px;
    width: 50px;
    right: 10px;
    border-radius: 50px;
    left: auto;
    display: inline-flex;   
}

.SideNav{
    background: white;
    width: 70%;
    box-shadow: 0px 0px 100px 0.5px  #00000020;
    display: none;
    z-index: 10000;
}

.Close{
    display: none;
}

.MenuButton{
    color: indigo;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
}

.MenuButtonImageHolder{
    position: relative;
    width: 30px;
    border-radius: 50px;
    height: 30px;
    background: indigo;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex; 
}

.Title{
    margin-right: auto;
    margin-left: 1rem;
    color: indigo;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

#Logout{
    position: absolute;
    bottom: 5px;
}

.ScrollDiv{
    overflow-y: auto;
}

.SelectCountry{
    background: indigo;
}

.CountryHolder{
    background: white;
    top: auto;
    bottom: 0;
}

.CountryDivs{
    background: white;
    top: 50px;
    overflow-y: auto;
}

.CountryName{
    color: black;
    margin-left: 1rem;
}

.UserImage{
    width: 90%;
    height: auto;
    background: gainsboro;
    left: 0%;
    border-radius: 5px;
    margin-top: 0.5rem;
}

#Description{
    width: 90%;
    left: 0;
    color: black;
}

.SelectGender{
    background: indigo;
}

.GenderDiv{
    background: white;
    color: black;
    top: auto;
    box-shadow: 0px 0px 100px 0.5px  #00000020;
    display: none;
    min-height: 40%;
}

.genderName{
    color: indigo;
}

#SaveButton{
    border-radius: 50px;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
}

.HomeButtonOne{
    color: black;
    box-shadow: 0px 0px 10px 1px  #00000020;
    height: 100px;
    display: inline-flex;
    margin-top: 0;
}

#FarmerButtonImageHolder{
    margin-right: 0.5rem;
    margin-left: auto;
    background: blue;
}

#FarmerNamer{
    margin-left: 1rem;
    color: #000000;
    top: 0px;
    font-weight: lighter;
    margin-top: 1rem;
}

#FarmerVillager{
    position: absolute;
    left: 6%;
    color: black;
    margin-top: 2.5rem;
}

#FarmerPhone{
    position: absolute;
    bottom: 0;
    left: 6%;
    color: black;
    margin-bottom: 0.5rem;
}

.Data{
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin-left: 1rem;
}

#Records{
    top: 50px;
}

.AllFarmerDiv{
    overflow-y: auto;
}

#UserEmailer{
    box-shadow: 0px 0px 10px 1px  #00000020;
}

.NewPlotHolder{
    color: black;
    box-shadow: 0px 0px 100px 1px  #00000020;
    height: 100px;
    display: inline-flex;
    left: 0;
}

#NewPoint{
    position: relative;
    width: 40%;
    margin: auto;
    background: green;
    color: white;
}

#SavePoint{
    position: relative;
    width: 40%;
    margin: auto;
    background: blue;
    color: white;
}

.DetailsPlot{
    position: absolute;
    background: transparent;
    top: 15%;
    overflow-y: auto;
}