.MainImage{
    width: 98%;
    height: auto;
    max-height: 200px;
    left:1%;
    border: 1px solid brown;
}

.HomeDiv{
    overflow-y: auto;
}

#NewBack{
    padding: 5%;
    border-radius: 20px;
    background: black;
}